.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: url('./assets/images/appbackground.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #d9d6d697;
  position: absolute;
  top: 0;
}

.content {
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

.menu {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.menu button {
 border: none;
 outline: none;
 background-color: #586071;
 color: #fff;
 padding: 0.5rem 2rem;
 cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
