@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App-header {
  background: #346f6f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333333;
  margin: 0;
  font-family: "Permanent Marker", cursive;
}

.content {
  z-index: 2;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  border: 5px solid #ffffff;
  border-radius: 0 15px 15px 0;
  overflow-x: hidden;
  width: 90vw;
  height: 80vh;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2px;
}

.menu button {
  border: none;
  outline: none;
  background: #346f6f;
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: 3px solid #346f6f;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.menu button.active {
  background-color: #ffffff;
  color: #346f6f;
  font-weight: 600;
}

.container {
  width: 100%;
  height: 100%;
  color: #000;
}

.question {
  height: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
  padding: 0 1rem;
}

.question p:first-child {
  text-align: right;
  margin-top: 0;
}

.question p:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  font-size: 3.5rem;
}

.question>div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  margin-top: -2rem;
}

input {
  border-width: 0 0 2px 0;
  background-color: #fff;
  font-size: 6rem;
  font-family: "Permanent Marker", cursive;
  width: 20rem;
  margin-top: 1rem;
  text-align: center;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    border-radius: 15px;
  }

  .menu button {
    font-size: 1.5rem;
    padding: 0;
  }

  .menu button:first-child {
    border-radius: 10px 10px 0 0;
  }

  .question>div {
    font-size: 3rem;
  }

  input {
    font-size: 3rem;
    width: 10rem;
  }
}